<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Local</title>
</head>
<body>
    <div class="mx-auto card text-center" style="width: 28rem; height: 38rem; background-color: rgb(237, 67, 73); margin-top: 5px;"> 
        <div class="">
            <h1 class="card-header">{{ user.first_name }} is a Local</h1>
            <form action="/place/create" method="post" >
                <input name="user_id" type="hidden" value="{{session.user_id}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="city">City</label>
                            <input type="text"  name="city" class="form-control" placeholder="Muncie">
                        </div>
                        <div class="col">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="state" placeholder="IN">
                        </div>
                    </div>
                    <label for="name">What's the name of the place?</label>
                    <input type="text" name="name" class="form-control">
                    <label for="type" class="form-label">Type</label>                
                    <select name="type" class="form-select">
                        <option value="other">Food</option>
                        <option value="other">Drinks</option>
                    </select>
                    <label for="vibe" class="form-label">Vibe</label>
                    <select name="vibe" class="form-select">
                        <option value="other">Chill</option>
                        <option value="other">Lively</option>
                        <option value="other">Party Time</option>
                    </select>
                    <label for="price">Price</label>
                    <select name="price" class="form-select">
                        <option value="other">$</option>
                        <option value="other">$$</option>
                        <option value="other">$$$</option>
                    </select>
                    <label for="description">Tell us more about it</label>
                    <textarea name="description" cols="25" rows="3" class="form-control"></textarea>
                </div>
                <button type="button" class="btn btn-outline-dark">Send</button>  
                <input type="submit" value="Create">  
            </form>  
            {% with messages = get_flashed_messages() %}  
                        {% if messages %}                           
                            {% for message in messages %}           
                            <p>{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}   
            <div>
                <a href="/home">Home</a>
            </div> 
        </div>                        
    </div>   
</body>
</html>